<div id="friendcontainer">
  <div id="scroller">
    <ul id="friendslistlist">

      <% for(var i = 0; i < friends.length; i++) { %>
        <li class="friendmouseover">
          <div class="frienddropdowncontainer onefriend">
            <button class="btn btn-default dropdown-toggle onefriend" type="button" data-toggle="dropdown" id=<%=  friends[i]  %> >
              <strong class="glyphicon glyphicon-user iconpad"> </strong> <strong class="friendname"><%= friends[i] %></strong>
            </button>

            <ul class="dropdown-menu frienddropdown" role="menu" >
              <li role="presentation">
                <a role="menuitem" tabindex="-1" href="#" id="messagebutton" data-action="message" data-username=<%=  friends[i]  %>>Message</a>
              </li>
              <li role="presentation">
                <a role="menuitem" tabindex="-1" href="#" id="invitebutton" data-action="invite" data-username=<%=  friends[i]  %>>Invite to Game</a>
              </li>
            </ul>
          </div>
        </li>

      <% } %>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</div>
