<!DOCTYPE html>
<html>

<head>
  <% include head %>
</head>

<body>
  <div class="container">
    <header>
      <% include header %>
    </header>
    <div class="row">
      <div id="mainscreen" class="col-md-12">

      </div>

    </div>
    <div id="mainscreenmenu">
    </div>
    <div id="friendslist">
    </div>
    <div id="gameslist"></div>


    <div id="messagescontainer"></div>
    <% include alertbox %>
    <footer>
      <% include footer %>
    </footer>
  </div>
</body>

</html>
