<form method="post" action="" id="registerform">
<div class="row">
  <div class="form-search search-only loginform">
    <div class="col-md-1 loginformtext text-center">
      <strong>Register</strong>
    </div>
    <div class="col-md-2">
      <input class="form-control search-query" name="username" placeholder="Username">
    </div>
    <div class="col-md-2">
      <input class="form-control search-query" type="password" name="password" placeholder="Password">
    </div>
    <div class="col-md-2">
      <input class="form-control search-query" type="password" name="password" placeholder="Confirm Password">
    </div>
    <div class="col-md-2">
      <div class="input-group form-search">
      <input class="form-control search-query" name="password" placeholder="E-mail">
      <span class="input-group-btn ">
        <button type="submit" class="btn btn-primary loginbutton" form="registerform" id="submitregisterbutton">Go!</button>
      </span>
      </div>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-1 register">
      <div class="input-group pull-right">
        <button type="button" class="btn btn-normal btn-block nevermindbutton" id="nevermindbutton"><span class="registertext">Nevermind</span></button>
      </div>
    </div>
  </div>
</div>
</form>
