
<div class='row' id='menuwrapper'>
  <div class='col-md-12 col12tall'>
    <div id='startgamemenu'>
        <%= game %>
        <i class="glyphicon glyphicon-remove pull-right exitgame"></i>
        <div id="gamestartcountdown"></div>
        <div id="usersInRoom">
          <ul>
          </ul>
        </div>
        <div class="row">
        <div id="countdowngroup">
          <div id="countdown">30</div>
          <button class="btn btndefault" id="timebutton">Extend Countdown</button>
          <button class="btn btndefault" id="startbutton">Start Now</button>
        </div>
      </div>
        <div id="gamechatcontainer">
          <div id="gamechat"></div>
        </div>
        <div id="gamechattextboxcontainer">
          <input id="gamechattextbox" type="text">
        </div>
      </div>
    </div>
</div>
